VITE_API_BASE=http://localhost:3000
VITE_MEDIA_BASE=https://startsuccess-media.s3.ap-south-1.amazonaws.com
VITE_S3_MEDIA_BASE=https://startsuccess-media.s3.ap-south-1.amazonaws.com
VITE_PUBLIC_APP_URL=http://localhost:5173
